<div class="container mt-5">
    <div class="card">
        <div class="card-header bg-danger" id="headingOne">
            <h1 class="mb-0 text-alignment text-white">
                Notifications
            </h1>
        </div>
    </div>
    <div class="alert alert-danger mt-2" *ngIf="isEmpty()">
        You don't have any notifications!
    </div>
    <ul class="list-group">
        <li class="list-group-item d-flex justify-content-between align-items-center"
            *ngFor="let notifications of  bloodNotifications">

            {{notifications.notification}}
            <div *ngIf="!notifications.status">
                <span class="badge badge-danger badge-pill m-1">**New**</span>
            </div>
            <button class="btn btn-link ml-auto text-danger" (click)="removeNotifications(notifications.id)">
                Remove</button>
        </li>
    </ul>
</div>