<section class="p-3">
    <div class="row faq-margin">
        <div class="col-lg-12 " *ngIf="!bbbb">
            <div class="container">
                <div class="accordion " id="accordionExample">
                    <div class="card">
                        <div class="card-header bg-danger" id="headingOne">
                            <h1 class="mb-0">
                                <button class="btn btn-link text-white  " type="button" data-toggle="collapse"
                                    data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                    <h4>Your FAQs!</h4>
                                </button>
                            </h1>
                        </div>
                    </div>
                    <div id="collapseOne" class="collapse show" data-parent="#accordionExample">
                        <div class="accordion container mt-3  " id="accordionExample2">
                            <div class="card " *ngFor="let x of faqArray">
                                <div class="card-header nav-color p-1 test-scroll" id="heading">
                                    <h1 class="mb-0">

                                        <button class="btn btn-link text-danger  form-row  " type="button"
                                            data-toggle="collapse" [attr.data-target]="'#id'+ x.id">
                                            {{x.question}}

                                        </button>
                                    </h1>
                                </div>
                                <div [attr.id]="'id' + x.id" class="collapse test-scroll"
                                    data-parent="#accordionExample2">
                                    <div class="card-body">
                                        {{x.answer}}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>